$color_1: #ffffff;
$color_2: #dcf10d;
$color_3: #0266ff;
$color_4: #9d9db5;
$color_5: #d7f8ff;
$font-family_1: "Inter";
$background-color_1: #192140;
$background-color_2: transparent;
$background-color_3: #0266ff;
$background-color_4: #10131c;
$background-color_5: #f8f9fc;
$background-color_6: #d7f8ff;
